[submodule "themes/adidoks"]
	path = themes/adidoks
	url = https://github.com/ES-Alexander/adidoks.git
[submodule "content/latest"]
	path = content/latest
	url = https://ES-Alexander@github.com/ES-Alexander/ardusub-zola
	branch = BlueOS-new-structure
